<form [formGroup]="dialogForm" novalidate (ngSubmit)="onSubmit()" class="mat-typography">
  <h2 mat-dialog-title>{{ title }}</h2>
  <mat-dialog-content>
    <div class="form-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="name"
          required>
        <mat-error *ngIf="dialogForm.hasError('required', 'name')">
          This is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="10"
          formControlName="description"
          required></textarea>
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field fxFlex="50">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" required>
            <mat-option *ngFor="let option of typeOptions" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="50">
          <mat-label>Duration</mat-label>
          <mat-select formControlName="duration" required>
            <mat-option *ngFor="let option of durationOptions" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span fxFlex></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="isSaving || dialogForm.invalid">Save</button>
  </mat-dialog-actions>
</form>
